@model PJ_Teeradat.Models.TbUsertype

@{
    ViewData["Title"] = "CreateUsTy";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@{ if (ViewBag.UserType == "2")
    {
        <h2>เพิ่มข้อมูล</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateUsTy">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserTypeName" class="control-label">ระดับผู้ใช้</label>
                        <input asp-for="UserTypeName" class="form-control" />
                        <span asp-validation-for="UserTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="เพิ่มข้อมูล" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="UsTyList">กลับสู่รายการ</a>
        </div>
    }
    else
    {
        <h2>คุณไม่มีสิทธิ์การใช้งานหน้านี้</h2>
    }

}
