@model IEnumerable<PJ_Teeradat.Models.TbPrename>

@{
    ViewData["Title"] = "PrenameList";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@{ if (ViewBag.UserType == "2")
    {
        <h2>ข้อมูลคำนำหน้าชื่อ</h2>

        <p>
            <a asp-action="CreatePrename">เพิ่มข้อมูล</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        คำนำหน้าชื่อ
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreName)
                        </td>
                        <td>
                            <a asp-action="EditPrename" asp-route-id="@item.PrenameId">แก้ไข</a> |
                            @Html.ActionLink("ลบ", "DeletePrename", new { id = item.PrenameId },
                                  new { onclick = "return confirm('คุณต้องการลบ y/n')" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>คุณไม่มีสิทธิ์การใช้งานหน้านี้</h2>
    }

}